<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Welcome to AppTree.io, <%= @user.first_name %>!</h1>
    <p>
      You have successfully signed up on AppTree.io.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>
    <p>
      Thanks for signing up, and don't forget to vote on your favorite apps!
    </p>
  </body>
</html>
