<h2>Discovr</h2>

<ul class="side-nav">
  <% @genres.each do |genre| %>
    <li><a href=""><%= genre.name %></a></li>
  <% end %>
</ul>

<div id="main-content">
  <div class="row">
    <div class="small-8 columns panel">
      Welcome!
    </div>
  </div>
</div>
