/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#side-nav {
  width: 175px;
  display: block;
  overflow: scroll;
  float: left;

  li {
    padding: 5px 10px;
    border-radius: 10px;

  }

  li:hover {
    color: white;
    background: #C0C0C0;
  }

}


#app-search-and-list {
  display: block;
  float:left;
  width:800px;
  #search {
    position: relative;
    width: 700px;
    top: 0;
    display: block;

    #search-bar {
      width: 500px;
      display: block;
      float: left;
    }

    #search-button {
      width: 100px;
      height: 37px;
      padding: 0;
      float: right;
      border-radius: 4px;
    }

  }

  #app-list-container {
    clear: both;
    overflow: scroll;
    margin-top: 50px;

    .app-single {
      width:250px;
      margin: 10px 5px;
      float: left;
      &:nth-child(3n+1){
        clear:left;
      }
      div.artwork{
        position: relative;
        float: left;
      }
      div.artwork>span.mask{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 57px;
        height: 57px;
        background: url(image-path('mask100.png')) 0 0 no-repeat;
        background-size: 57px 57px;
      }
      .upvote{
        width: 35px;
        height: 50px;
        float:left;
          .upvote-button{
            display: block;
            margin:5px auto;
            height: 17px;
            width: 17px;
            background: url(image-path('upvote.png')) 0 0 no-repeat;
            background-size: 17px 17px;
    
          }
          .upvote-count {
            font-size: 12px;
            width: 35px;
            color: #aaa;
            text-align: center;
            display: inline-block;
          }
      }
      .app-image {
        display: inline-block;
        max-height: 58px;
      }
      .app-details{
        width: 150px;

        font-size: 14px;
        margin-left:5px;
        float: left;
        line-height:1.4;
        .app-name {
          font-weight: 600;
          font-size: 14px;
          text-overflow: ellipsis;
          white-space: nowrap;
        	overflow: hidden;
        	line-height:1.4;
          margin:0;
        }
        .app-price {
          color: #229fd5;
          font-weight: bold;
        }
        .app-links{
          font-size: 12px;
          a{
            color: #25282a;
          }
        }
      }

    }
  }

}
