/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#side-nav {
  width: 175px;
  display: inline-block;
  height: 600px;
  overflow: scroll;

  li {
    padding: 5px 10px;
    border-radius: 10px;

  }

  li:hover {
    color: white;
    background: #C0C0C0;
  }

}


#app-search-and-list {
  width: 800px;
  display: inline-block;
  height: 600px;

  #search {
    position: fixed;
    width: 800px;
    top: 110px;

    #search-bar {
      width: 650px;
      display: inline-block;
    }

    #search-button {
      width: 100px;
      height: 37px;
      padding: 2 auto;
    }

  }

  #app-list-container {

    overflow: scroll;
    margin-top: 50px;

    .app-single {

      .upvote-count {
        display: inline-block;
      }

      .app-image {
        display: inline-block;
        max-height: 57px;
      }

      .app-name {
        max-width: 400px;
        display: inline-block;
        font-size: 16px;
      }

      .app-price {
        display: inline-block;
        float: right;
      }
    }
  }

}
