<div id="phone-number-modal">
  <div class="close">close this window <span>&#x2715;</span></div>
  <div id="sign-up-half">
    <h2>Oops! We'll need your number for that!</h2>
    <p>
      Please enter your cellular number so that we can send you download links
      in the future.
    </p>
    <form>
      <label for="phone-number-lone">Phone Number</label>
      <input id="phone-number-lone" type="text">

      <input id="phone-number-submit-button" type="submit" value="Submit Phone Number">
    </form>
  </div>
</div>
