<div id="user-show">
  <h2 id="user-name">{{username}}</h2>
  <h3>{{first_name}} {{last_name}}</h3>

  <div id="downloaded-apps">
    Apps I've upvoted:
    <ul id="downloaded-apps-list">

    </ul>
  </div>
  <div id="bookmarked-apps">
    Apps I've sent to my phone:
    <ul id="bookmarked-apps-list">

    </ul>
  </div>
</div>
