<div id="user-show">
  <h2 id="user-name">{{username}}</h2>
  <h3>{{first_name}} {{last_name}}</h3>

  <div id="apps-list-container">
    <div id="downloaded-apps">
      Apps I've upvoted:
      <div id="downloaded-apps-list">

      </div>
    </div>
    <div id="bookmarked-apps">
      Apps I've sent to my phone:
      <div id="bookmarked-apps-list">

      </div>
    </div>
  </div>
</div>
