<div id="user-auth-modal">
  <div class="close">close this window <span>&#x2715;</span></div>
  <div id="sign-up-half">
    <h2>Create a new account</h2>
    <form>
      <!-- <label for="sign-up-first">First Name</label>
      <input id="sign-up-first" type="text">

      <label for="sign-up-last">Last Name</label>
      <input id="sign-up-last" type="text"> -->

      <label for="sign-up-username">Username</label>
      <input id="sign-up-username" type="text">

      <label for="sign-up-email">Email</label>
      <input id="sign-up-email" type="text">

      <label for="sign-up-password">Password</label>
      <input id="sign-up-password" type="password">

      <label for="sign-up-password-confirmation">Confirm Password</label>
      <input id="sign-up-password-confirmation" type="password">

      <label for="sign-up-phone-number">Optional: Phone Number</label>
      <h6>(This will only be used for sending download links to your phone.)</h6>
      <input id="sign-up-phone-number" type="text">

      <input id="form-sign-up-button" type="submit" value="Create Account">
    </form>
  </div>

  <div id="sign-in-half">
    <h2>Sign in to existing account</h2>
    <form>
      <label for="sign-in-email">Email</label>
      <input id="sign-in-email" type="text">

      <label for="sign-in-password">Password</label>
      <input id="sign-in-password" type="password">

      <input id="form-sign-in-button" type="submit" value="Login">
    </form>

  </div>

</div>
