<div id="user-auth-modal">
  <div class="close">close this window <span>&#x2715;</span></div>
  <div id="sign-up-half">
    <h2>Create a new account</h2>
    <form>
      <label for="sign-up-email">Email</label>
      <input id="sign-up-email" name="user[email]" type="text">
      <label for="sign-up-password">Password</label>
      <input id="sign-up-password" name="user[password]" type="password">
      <label for="sign-up-password-confirmation">Confirm Password</label>
      <input id="sign-up-password-confirmation" name="user[password_confirmation]" type="password">
      <label for="sign-up-phone-number">Optional: Phone Number</label>
      <input id="sign-up-phone-number" name="user[phone_number]" type="text">

      <input id="form-sign-up-button" type="submit" value="Create Account">
    </form>
  </div>

  <div id="sign-in-half">
    <h2>Sign in to existing account</h2>
    <form>
      <label for="sign-in-email">Email</label>
      <input id="sign-in-email" type="text">
      <label for="sign-in-password">Password</label>
      <input id="sign-in-password" type="password">

      <input id="form-sign-in-button" type="submit" value="Login">
    </form>

  </div>

</div>
